/*
    Typefaces: Georgia, PT Sans Narrow
    Text sizes: 1.125rem, 0.875rem, 1.25rem
    Line-heights: 1.5
    Colours: #000, #fff, #afafaf, #ccc, #323232, #bebebe, #bd027d, #960062, #eccee2
    Gaps: 1rem
    Margins: .5em, 1.5rem
    Paddings: .5em .8em, .5em, 1rem, 1.5rem
    Border thicknesses: 2px
    Corner-radii: 6px, 1em 0 0 1em
*/
html {

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0
}

img {
  display: block;
  width: 100%
}

main {

}

header {

}

h1 img {

}

h1 {

}

nav ul {

}

nav {

}

nav li {

}

nav :link {

}

nav :hover {

}

p {

}

h2 {

}

section strong {

}

section ul {

}

section li {

}

h3 {

}

h3 + img {

}

div {


}

div::after {

}

div img {

}

footer {

}

footer p {

}

footer :link {

}
