/*
    Typefaces: Georgia, PT Sans Narrow
    Text sizes: 1.125rem, 0.875rem, 1.25rem
    Line-heights: 1.5
    Colours: #000, #fff, #afafaf, #ccc, #323232, #bebebe, #bd027d, #960062, #eccee2
    Gaps: 1rem
    Margins: .5em, 1.5rem
    Paddings: .5em .8em, .5em, 1rem, 1.5rem
    Border thicknesses: 2px
    Corner-radii: 6px, 1em 0 0 1em
*/
html {
  font-family: Georgia, serif;
  font-size: 1.125rem;
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0
  background-color: #bebebe;
}

img {
  display: block;
  width: 100%
}

main {
  margin: 1rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h1 img {
  width: 80%;
  margin-left: 1.2rem;
}

h1 {
  margin: 0;
  grid-row: 1;
  grid-column: 2;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: space-between;
  background-color: #bd027d;
  padding: 1rem;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.25rem;
  list-style: none;
  margin: 0;

}

nav {
  grid-row: 1;
  grid-column: 1 / -1;
}

nav li {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: .34rem .8rem;
  border-style: solid;
  border-width: .5px;
  border-radius: 6px;
  margin: .8rem 0;
  margin-bottom: .9rem;
}

nav :link {
  color: #fff;
  text-decoration: none;
}

nav :hover {
  border-color: #960062;
}

p {
  color: #323232;
  margin-top: 1.3rem;
  font-weight: lighter;
  border-bottom-style: solid;
  border-width: .2px;
  border-color: #afafaf;
  padding-bottom: 1.4rem;
}

h2 {
  margin-top: 1.3rem;
  color: #323232;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.3rem;
}

section strong {
  background-color: #bebebe;
  color: #323232;
  font-size: .9rem;
  font-style: italic;
  font-weight: normal;
  padding-left: .5rem;
  padding-right: .4rem;
}

section ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  padding: 0;
  gap: 1rem;
}

section li {
  background-color: #ccc;
  border-style: solid;
  border-width: 2px;
  border-color: #afafaf;
  border-radius: 6px;
  display: grid;
  grid-template-rows: auto auto;
  margin-top: .4rem;
  grid-template-columns: 1fr;
}

h3 {
  background-color: #bebebe;This
  font-family: "PT Sans Narrow", sans-serif;
  text-align: center;
  margin: 0;
  margin-bottom: 1em;
  padding: .5rem;
  grid-row: 2/3;
  z-index: 1;
  grid-column: 1/2;
  align-self: end;
}

h3 + img {
  grid-row: 1/3;
  grid-column: 1/2;
}

div {
  background-color: #bebebe;
  grid-row: 1 / 2;
  grid-column: 1/2;
  justify-content: flex-end;
  align-self: flex-start;
/*  justify-self: flex-end; */
  border-radius: 1em 0 0 1em;
  margin-top: .5em;
}

div::after {
  display: table;
  content: "";
  clear: both;
}

div img {
  display: grid;
  float: left;
  width: 6%;
  order: -1;
  align-items: center;
  border-radius: 1em 0 0 1em;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: .8rem;
  border-top-style: solid;
  border-width: .2px;
  border-color: #afafaf;
  padding-top: 1rem;
}

footer p {
  color: #323232;
  margin: 0;
}

footer :link {
  color: #000;
}
